/*#######################################################################################################################################################################################################################*/
/*  Default styles                                                                                                                                                                                                       */
/*#######################################################################################################################################################################################################################*/

/************************************/
/*  Scroll bar                      */
/************************************/

::-webkit-scrollbar { width: 6px; background-color: #2196F3; }
::-webkit-scrollbar-thumb { background-color: #FFFFFF; border: none; }

/************************************/
/*  Elements                        */
/************************************/

body    { display: flex; min-height: 100vh; flex-direction: column; }
section { padding: 1.5em; margin: 0px;}
section > h2 { text-transform: uppercase; text-align: center; }
h1, h2, h3, h4, h5, h6 { font-family: Montserrat; }
p { font-family: Montserrat; text-align: justify; padding: 0.5em;}

/************************************/
/*  Content                         */
/************************************/

.main-content    { flex: 1; }
.section-content { padding: 1em; }
.center-content  { text-align: center; }

/************************************/
/*  Color themes                    */
/************************************/

.bg-blue  { color: #FFFFFF; background: #2196F3; }
.bg-white { color: #000000; background: #FFFFFF; }
.bg-dark  { color: #FFFFFF; background: #212121; }
.bg-black { color: #FFFFFF; background: #000000; }
.bg-light { color: #000000; background: #EEEEEE; }

/************************************/
/*  Parallax                        */
/************************************/

.parallax {
    background: #2196F3;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: table;
}

.parallax-content { vertical-align: middle; display: table-cell; }
.parallax-footer { vertical-align: bottom; display: table-footer-group; }

.parallax-content > h1, .parallax-content > h2, .parallax-content > h3, .parallax-content > h4, .parallax-content > h5, .parallax-content > h6, .parallax-content > span, .parallax-footer > a {
    color: #FFFFFF;
    text-align: center;
    display: block;
}

.parallax-content > span { font-family: Pacifico; font-size: 24pt; }

/************************************/
/*  Navbar                          */
/************************************/

.navbar { background: transparent; }

.navbar-brand { color: #FFFFFF; font-family: Montserrat; font-weight: 700;  text-transform: uppercase; text-decoration: none; }

.nav > li > a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Montserrat;
}

.navbar-brand:hover, .navbar-brand:focus, .nav > li > a:hover, .nav > li > a:focus {
    color: #FFFFFF;
    background: transparent;
    text-decoration: none;
    box-shadow: 0px 2px 0px #FFFFFF;
}

.navbar-scroll { background: #FFFFFF; }
.navbar-brand-scroll, .nav-scroll > li > a { color: #000000; }
.navbar-brand-scroll:hover, .navbar-brand-scroll:focus, .nav-scroll > li > a:hover, .nav-scroll > li > a:focus { color: #000000; box-shadow: none; background: #EEEEEE; }

/************************************/
/*  Images                          */
/************************************/

.img-small  { height: 24px; width: 24px; }
.img-medium { height: 48px; width: 48px; }
.img-large  { height: 72px; width: 72px; }


.flip-img { width: 300px; height: 200px; display: inline-block; margin: 0.5em;}
.flip-img figure { margin: 0; padding: 0; position: relative; cursor: pointer; }
.flip-img figure img { display: block; position: relative; z-index: 10; width: 300px; height: 200px; }
.flip-img figure h2 { color: #FFFFFF; font-size: 20px; text-align: left; }
.flip-img figure p { display: block; font-size: 12px; line-height: 18px; margin: 0; color: #FFFFFF; text-align: left; }

.flip-img figure img {
    backface-visibility: hidden;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition:all .5s
}

.flip-img figure:hover img {
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.flip-img figure figcaption {
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 29px 44px;
    background: #2196F3;
    text-align:center;
    backface-visibility: hidden;
    z-index:5;
    display:block;
    position:absolute;
    -webkit-box-sizing:border-box;
    -webkit-transform: rotateY(-180deg);
    -webkit-transition: all .5s;
    -o-box-sizing:border-box;
    -o-transform: rotateY(-180deg);
    -o-transition: all .5s;
    -moz-box-sizing:border-box;
    -moz-transform: rotateY(-180deg);
    -moz-transition: all .5s;
    box-sizing:border-box;
    transform: rotateY(-180deg);
    transition:all .5s
}

.flip-img figure:hover figcaption {
    -webkit-transform: rotateY(0);
    -o-transform: rotateY(180deg);
    -moz-transform: rotateY(0);
    transform: rotateY(0)
}

/************************************/
/*      Containers                  */
/************************************/

.table-container { display: inline-block; }
.row-container   { display: table-row; }

.img-container { text-align: center; margin: 0.75em; display: inline-block; }
.img-container > img, .img-container > h5 { text-align: center;  margin: 0 auto; display: block; }

/************************************/
/*  Buttons                         */
/************************************/

.btn-submit { color: #FFFFFF; font-family: Montserrat; font-weight: 600; background: #2196F3; border: none; }
.btn-submit:hover { color: #000000; background: #FFFFFF; }

/************************************/
/*  Social media buttons            */
/************************************/

.social-btn { color: #FFFFFF; text-decoration: none; }
.social-btn:hover, .social-btn:focus { color: #2196F3; }

/************************************/
/*  Forms                           */
/************************************/

.input-group-addon > .fa-asterisk { color: #D50000; }
form > * { padding-top: 0.2em; padding-bottom: 0.2em; }


/************************************/
/*  Footers                         */
/************************************/
.section-footer { padding-top: 2em; font-family: Montserrat; text-align: center;}

/*#######################################################################################################################################################################################################################*/
/*  Small screens                                                                                                                                                                                                        */
/*#######################################################################################################################################################################################################################*/

@media (max-width: 768px) {

    /************************************/
    /*  Elements                        */
    /************************************/

    section { padding-left: 0em; padding-right: 0em; }

    /************************************/
    /*  Content                         */
    /************************************/

    .section-content { padding: 0em; }

    /************************************/
    /*  Navbar                          */
    /************************************/

    .navbar { background: #FFFFFF; }
    .navbar-brand, .nav > li > a { color: #000000; }
    .navbar-brand:hover, .navbar-brand:focus, .nav > li > a:hover, .nav > li > a:focus { color: #000000; box-shadow: none; background: #EEEEEE; }

    .img-container { display: inline-block; }
}
