/************************************/
/*  Elements                        */
/************************************/

section { padding: 1em; }

/************************************/
/*  Color themes                    */
/************************************/

.bg-blue  { color: #FFFFFF; background: #2196F3; }
.bg-white { color: #000000; background: #FFFFFF; }
.bg-dark  { color: #FFFFFF; background: #212121; }
.bg-black { color: #FFFFFF; background: #000000; }
.bg-light { color: #000000; background: #EEEEEE; }

/************************************/
/*  Parallax                        */
/************************************/

.parallax {
    background: #2196F3;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: table;
}

.parallax-content {
    vertical-align: middle;
    display: table-cell;
}

.parallax-content > h1, .parallax-content > h2, .parallax-content > h3, .parallax-content > h4, .parallax-content > h5, .parallax-content > h6, .parallax-content > span {
    color: #FFFFFF;
    font-family: Montserrat;
    text-align: center;
    display: block;
}

.parallax-content > span { font-family: Pacifico; font-size: 24pt; }

/************************************/
/*  Navbar                          */
/************************************/

.navbar { background: transparent; }

.navbar-brand { color: #FFFFFF; font-family: Montserrat; font-weight: 700;  text-transform: uppercase; text-decoration: none; }

.nav > li > a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Montserrat;
}

.navbar-brand:hover, .navbar-brand:focus, .nav > li > a:hover, .nav > li > a:focus {
    color: #FFFFFF;
    background: transparent;
    text-decoration: none;
    box-shadow: 0px 2px 0px #FFFFFF;
}

.navbar-scroll { background: #FFFFFF; }
.navbar-brand-scroll, .nav-scroll > li > a { color: #000000; }
.navbar-brand-scroll:hover, .navbar-brand-scroll:focus, .nav-scroll > li > a:hover, .nav-scroll > li > a:focus { color: #000000; box-shadow: none; background: #F5F5F5; }
