<!-- Navbar -->
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </button>
      <a class="navbar-brand" href="#cover">cserradag96</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/#about_me" translate="about_me"></a></li>
        <li><a href="#!/#skills" translate="skills"></a></li>
        <li><a href="#!/#experience" translate="experience"></a></li>
        <li><a href="#!/#projects" translate="projects"></a></li>
        <li><a href="#!/#contact_me" translate="contact_me"></a></li>
        <li><a href="#" translate="lang" ng-click="changeLang()"></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Cover section -->
<section id="cover" class="header parallax">
  <div class="parallax-content">
    <span translate="main_text0"></span>
    <h1  translate="main_text1"></h1>
  </div>
  <div class="parallax-footer">
    <a type="button" href="#!/#about_me"><i class="fa fa-arrow-circle-down fa-4x" aria-hidden="true"></i></a>
  </div>
</section>

<!-- About me section -->
<section id="about_me" class="bg-light">
  <h2 translate="about_me"></h2>
  <div class="container-fluid section-content">
    <div class="col-md-4 col-xs-12">
    </div>
    <div class="col-md-8 col-xs-12">
      <div class="col-md-6 col-xs-12">
        <p translate="about_me_text0"></p>
        <p translate="about_me_text1"></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <p translate="about_me_text2"></p>
        <p translate="about_me_text3"></p>
      </div>
    </div>
  </div>
</section>

<!-- Skills section -->
<section id="skills" class="bg-white">
  <h2 translate="skills"></h2>
  <div class="container-fluid section-content">
    <div class="col-md-8 col-xs-12">
      <div class="col-md-6 col-xs-12">
        <p translate="skills_text0"></p>
        <p translate="skills_text1"></p>
        <p translate="skills_text2"></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <p translate="skills_text3"></p>
        <p translate="skills_text4"></p>
        <p translate="skills_text5"></p>
      </div>
    </div>
    <div class="col-md-4 table-container hidden-xs">
      <div class="row-container">
        <div class="img-container">
          <img src="static/img/skills/python.png">
          <h5>Python</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/c-plus-plus.png">
          <h5>C++</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/ruby.png">
          <h5>Ruby</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/java.png">
          <h5>Java</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/bash.png">
          <h5>Bash</h5>
        </div>
      </div>

      <div class="row-container">
        <div class="img-container">
          <img src="static/img/skills/javascript.png">
          <h5>JavaScript</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/html-5.png">
          <h5>HTML</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/css-3.png">
          <h5>CSS</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/jquery.png">
          <h5>jQuery</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/angular.png">
          <h5>Angular</h5>
        </div>
      </div>

      <div class="row-container">
        <div class="img-container">
          <img src="static/img/skills/bootstrap.png">
          <h5>Bootstrap</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/django.png">
          <h5>django</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/qt.png">
          <h5>Qt</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/postgre-sql.png">
          <h5>PostgreSQL</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/git.png">
          <h5>Git</h5>
        </div>
      </div>

      <div class="row-container">
        <div class="img-container">
          <img src="static/img/skills/github.png">
          <h5>Github</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/bitbucket.png">
          <h5>Bitbucket</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/gitlab.png">
          <h5>Gitlab</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/windows.png">
          <h5>Windows</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/linux.png">
          <h5>Linux</h5>
        </div>
      </div>

      <div class="row-container">
        <div class="img-container">
          <img src="static/img/skills/gimp.png">
          <h5>Gimp</h5>
        </div>
        <div class="img-container">
          <img src="static/img/skills/ms-office.png">
          <h5>MS Office</h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 visible-xs" style="text-align: center;">
      <div class="img-container">
        <img src="static/img/skills/python.png">
        <h5>Python</h5>
      </div>
      <div class="img-container">
        <img src="static/img/skills/angular.png">
        <h5>Angular</h5>
      </div>
      <div class="img-container">
        <img src="static/img/skills/bootstrap.png">
        <h5>Bootstrap</h5>
      </div>
      <div class="img-container">
        <img src="static/img/skills/qt.png">
        <h5>Qt</h5>
      </div>
      <div class="img-container">
        <img src="static/img/skills/postgre-sql.png">
        <h5>PostgreSQL</h5>
      </div>
      <div class="img-container">
        <img src="static/img/skills/linux.png">
        <h5>Linux</h5>
      </div>
    </div>

  </div>
</section>

<!-- Experience section -->
<section id="experience" class="bg-light">
  <h2 translate="experience"></h2>
  <div class="container-fluid section-content">
    <div class="container-fluid">
      <div class="col-md-4 col-xs-12">
        <p translate="experience_text0"></p>
        <p translate="experience_text1"></p>
      </div>
      <div class="col-md-4 col-xs-12">
        <p translate="experience_text2"></p>
        <p translate="experience_text3"></p>
      </div>
      <div class="col-md-4 col-xs-12">
        <p translate="experience_text4"></p>
        <p translate="experience_text5"></p>
      </div>
    </div>
  </div>
</section>

<!-- Projects section -->
<section id="projects" class="bg-white">
  <h2 translate="projects"></h2>
  <div class="container-fluid section-content">
    <div class="flip-img">
      <figure>
        <img src="static/img/projects/apolo.png">
        <figcaption>
            <h2>Apolo</h2>
            <p>Sistema de administración online para el cuerpo de bomberos voluntarios de la Universidad Simón Bolívar</p>
        </figcaption>
      </figure>
    </div>
  </div>
</section>

<!-- Contact me section -->
<section id="contact_me" class="footer bg-dark">
  <h2 translate="contact_me"></h2>
  <div class="container-fluid">
    <div class="col-md-4 col-xs-12">
      <h3 translate="contact_me_text0" class="text-center"></h3>
      <form name="messageForm" ng-submit="sendMessage()" method="post">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input required type="text" class="form-control" placeholder="Nombre" ng-model="sender.name">
          <span class="input-group-addon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <input required type="email" class="form-control" placeholder="Correo electrónico" ng-model="sender.email">
          <span class="input-group-addon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
          <textarea required rows="4" class="form-control" placeholder="Escriba un mensaje..."" ng-model="sender.message"></textarea>
          <span class="input-group-addon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
        </div>
        <button translate="submit" type="submit" class="btn btn-default btn-flat pull-left"></button>
      </form>
    </div>
    <div class="text-center col-md-4 col-xs-12">
      <h3 translate="contact_me_text4"></h3>
      <a type="button" class="social-btn" href="https://br.linkedin.com/in/cserradag96"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
      <a type="button" class="social-btn" href="https://github.com/cserradag96"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
      <a type="button" class="social-btn" href="https://bitbucket.org/cserradag96/"><i class="fa fa-bitbucket-square fa-3x" aria-hidden="true"></i></a>
      <a type="button" class="social-btn" href="https://twitter.com/cserradag96"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class="text-center col-md-4 col-xs-12">
      <h3 translate="contact_me_text5"></h3>
      <p translate="contact_me_text6"></p>
      <a type="button" class="social-btn" href="https://paypal.me/cserradag96" style="padding-right: 1em;"><i class="fa fa-cc-paypal fa-3x" aria-hidden="true"></i></a>
      <a type="button" class="social-btn" href="/static/img/donate/bitcoin.png"><i class="fa fa-btc fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="text-center">Copyright &#169; 2017 Carlos Serrada</div>
</section>

