<!-- Cover section -->
<section id="cover" class="header parallax">
  <div ng-show="!verificationSuccess" class="parallax-content">
    <h3 translate="recaptcha_text0"></h3>
    <form ng-submit="sendContactMail()">
      <div class="center-content center-div">
        <div vc-recaptcha on-create="setID(id)" on-success="recaptchaValidate()" on-expire="recaptchaExpire()" ng-model="recaptchaValue" lang="lang"></div>
        <button class="btn-parallax" type="submit" ng-show="validRecaptcha" ng-disable="disableBtn" translate="recaptcha_text1"></button>
      </div>
    </form>
  </div>
  <div ng-show="verificationSuccess" class="parallax-content">
    <h3 translate="recaptcha_text2"></h3>
    <div class="center-content">
      <button class="btn-parallax" ng-click="goToMain()" translate="recaptcha_text3"></button>
    </div>
  </div>
</section>

